.hf_cache/
.venv/
checkpoints/
env.sh
logs/

# Project specific folders
adapters/
merged-adapters-bak/

# Python caching
__pycache__/
*.pyc

# Extension/Library caches
unsloth_compiled_cache/

calibrated-adapters/
merged-adapters/
